<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">Angular 11 MEAN CRUD</a>

    <div id="navbarNav" class="collapse navbar-collapse"></div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="books-list" routerLinkActive="active"
          >Show Book</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="add-book" routerLinkActive="active"
          >Add Book</a
        >
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
