<div class="container mt-3">
  <h1>Add Data</h1>
  <div class="row justify-content-center mt-3">
    <div class="col-md-12">
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="text"
            class="form-control"
            formControlName="price"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            formControlName="description"
            required
          />
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block mt-3" type="submit">
            Add Book
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
