<div class="container mt-3">
  <div
    class="
      d-flex
      justify-content-between
      flex-wrap flex-md-nowrap
      align-items-center
      py-2
      mb-2
      border-bottom
    "
  >
    <h1>Books List</h1>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of Books; let i = index">
          <th scope="row">{{ book._id }}</th>
          <td>{{ book.name }}</td>
          <td>{{ book.price }}</td>
          <td>{{ book.description }}</td>
          <td class="text-center">
            <button
              class="btn btn-sm btn-primary mx-2"
              routerLink="/edit-book/{{ book._id }}"
            >
              Edit
            </button>
            <button
              class="btn btn-sm btn-danger mx-2"
              (click)="delete(book._id, i)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
